@import url("https://fonts.googleapis.com/css?family=Lato");
body {
  font-family: 'Lato', sans-serif; }

.site-header {
  background: black;
  display: grid;
  grid-template-columns: auto auto auto 445px;
  padding: 0 40px; }
  .site-header .header-logo {
    background-image: url("/assets/images/logo.png");
    width: 160px;
    height: 68px; }
  .site-header .navigation {
    grid-column: 4;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .site-header .navigation .navigation-wrapper {
      display: flex;
      justify-content: center;
      background: #fff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26); }
    .site-header .navigation .navigation-item {
      display: inline-block;
      margin-right: 12px;
      padding: 10px 0; }
      .site-header .navigation .navigation-item:last-child {
        margin-right: 0; }
